.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 58px;
  box-sizing: border-box;
  gap: 48px 0px
}

.main {
  text-align: center;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 0px 48px
}

#game-title {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Pixelboy;
}

#red {
  color: rgb(255, 0, 0);
}